.none {
  display: none;
}
.noteItem {
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  top: 0;
  left: 0;

  cursor: pointer;
  color: white;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  position: absolute;
  z-index: 77;

  .itemInfo {
    display: flex;
    flex-direction: column;

    .userText {
      color: white;
      background-color: var(--main-color);
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
    }
    .actionBottom {
      margin-right: 10px;
      display: flex;
      justify-content: flex-end;
    }
  }
}
